
.chat-container {
  display: flex;
  flex-direction: column;
}

.local-message {
  align-self: flex-end;
  background-color: #cfe9ff;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  max-width: 80%;
}

.remote-message {
  align-self: flex-start; 
  background-color: #f1f1f1; 
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  max-width: 80%;
}
