.chat-container {
  display: flex;
  flex-direction: column;
}

.local-message {
  align-self: flex-end;
  background-color: #cfe9ff;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  max-width: 80%;
}

.remote-message {
  align-self: flex-start; 
  background-color: #f1f1f1; 
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  max-width: 80%;
}
.call-container {
  position: relative;
  height: 100%;
}

.video-call-content {
  --background: linear-gradient(135deg, #00796b 0%, #004d40 100%);
}
.video-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .remote-video {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.remote-video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.local-video {
  position:absolute;
  bottom: 20px;
  right: 20px;
  width: 120px;
  height: 160px;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.local-video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.call-info {
  text-align: center;
  color: white;
  position: absolute;
  top: 15px;
  width: 100%;
}
// .video-call-icon {
//   position: fixed;
//   // bottom: 20px;
//   // right: 20px;
//   background-color: #4caf50;
//   border-radius: 50%;
//   padding: 15px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
//   transition: transform 0.3s ease, box-shadow 0.3s ease;
// }
.video-call-icon:hover {
  transform: scale(1.1); /* Scale up on hover */
}
.video-call-icon:active {
  transform: scale(0.9); /* Scale down on click */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Reduce shadow on click */
}