<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Details</ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <ion-card-title>
profile    
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
 <!-- Profile Image and Edit Button -->
 <div class="profile-image-container">
<div *ngIf="changeImage; then defaultAvatar; else userImage "> </div>

<ng-template #defaultAvatar>
  <ion-avatar class="profile-avatar">
    <ion-img src="{{userData.avatar}}" alt="image" size="large"></ion-img>
    <ion-button 
    class="edit-btn" 
    fill="clear" 
    (click)="selectImage()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </ion-avatar>
</ng-template>

<ng-template #userImage>

  <ion-avatar class="profile-avatar">
    <ion-img [src]="selectedImage" alt="profile pic" size="large">
    </ion-img>
    <ion-button 
    class="edit-btn" 
    fill="clear" 
    (click)="selectImage()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </ion-avatar>
</ng-template>
</div>

<ion-item>
  <ion-label>Nickname :{{profile.nickname}}</ion-label>
</ion-item>

<ion-item>
  <ion-label>UserId :{{profile.userid}} </ion-label>
</ion-item>

<ion-item>
  <ion-label >Email :{{profile.email}}</ion-label>
</ion-item>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button
      shape="round"
      expand="block"
      fill="outline"
      color="light"
      (click)="Logout()" >Logout</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

  </ion-card-content>
</ion-card>
</ion-content>
  
 <ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-button
          shape="round"
          expand="block"
          fill="outline"
          color="danger"
          (click)="DeleteAccount()">
            Delete Account
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>


