<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Details</ion-title>
  </ion-toolbar> -->

  <ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <ion-card-title>
profile    
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
 <!-- Profile Image and Edit Button -->
 <div class="profile-image-container">
  <ion-avatar class="profile-avatar">
    <ion-img [src]="selectedImage || 'assets/default-profile.png'">
    </ion-img>
    <ion-button 
    class="edit-btn" 
    fill="clear" 
    (click)="selectImage()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
  </ion-avatar>
</div>

<ion-item>
  <ion-label>Nickname :</ion-label>
</ion-item>

<ion-item>
  <ion-label>UserId : </ion-label>
</ion-item>

<ion-item>
  <ion-label >Email :</ion-label>
</ion-item>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button
      shape="round"
      expand="block"
      fill="outline"
      color="light"
      (click)="Logout()" >Logout</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

  </ion-card-content>
</ion-card>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button
      shape="round"
      expand="block"
      fill="outline"
      color="danger"
      (click)="DeleteAccount()">
        Delete Account
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
 </ion-content>
  

