<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profiledetails"></ion-back-button>
    </ion-buttons>
    <ion-title>User Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-item>
  <ion-text color="dark"><p>At Find, we are committed to providing a safe, respectful, and transparent environment for all our users. This User Policy outlines the expectations and responsibilities for anyone using the Find networking app, ensuring a positive experience for everyone.</p> </ion-text>
  </ion-item>
  <ion-item>
    <ion-text color="dark">
      <h3>Respectful Communication</h3>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-text color="dark">
      <p>At Find, we prioritize respect and kindness. Users must engage in civil, polite, and appropriate communication with others. We do not tolerate:</p>
      <ul>
        <li>Harassment, abuse, or intimidation.</li>
        <li>Hate speech, including discriminatory language based on race, ethnicity, gender, religion, sexual orientation, or disability.</li>
        <li>Bullying, threatening, or any form of harmful conduct.</li>
      </ul>
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-text color="dark">
      <h3> Profile Integrity</h3>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-text color="dark">
      <p>When creating a profile on Find, users are required to provide truthful information. Users are prohibited from:</p>
      <ul>
        <li>Using fake names or impersonating others.</li>
        <li>Misleading others with false information about their background, affiliations, or professional qualifications.</li>
        <li>Creating multiple profiles for malicious purposes, such as trolling or scamming.</li>
      </ul>
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-text color="dark">
      <h3> Privacy and Data Usage</h3>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-text color="dark">
      <p>We are committed to protecting your privacy. Please review our Privacy Policy for full details on how your data is handled. Key user responsibilities include:</p>
      <ul>
        <li>Respecting the privacy of others. Do not collect or distribute personal data from other users without their explicit consent.</li>
        <li>Avoid sharing sensitive personal information in public areas of the app (e.g., phone numbers, home addresses, financial details).</li>
        <li>Creating multiple profiles for malicious purposes, such as trolling or scammUsers should report any suspicious activities or privacy violations to Find immediatelying.</li>
      </ul>
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-text>
      <h3>Prohibited Content</h3>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-text color="dark">
      <p>Users are responsible for the content they share on Find. Prohibited content includes:</p>
      <ul>
        <li>Pornographic or sexually explicit material.</li>
        <li>Violent, harmful, or graphic imagery.</li>
        <li>Content promoting illegal activities (e.g., drug use, terrorism, violence).</li>
        <li>False or misleading information (e.g., fake news, disinformation).</li>
        <li>Spam or unsolicited promotional messages.</li>
      </ul>
    </ion-text>
  </ion-item>

  <ion-item>
    <ion-text>
      <h3>Network Safety and Security</h3>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-text color="dark">
      <p>We are dedicated to maintaining a secure platform. Users must:</p>
      <ul>
        <li>Refrain from engaging in hacking, phishing, or spreading malware/viruses.</li>
        <li>Avoid sharing or attempting to access unauthorized accounts, data, or features.</li>
        <li>Protect their own accounts by using strong passwords and enabling two-factor authentication (2FA) if available.
        </li>
      </ul>
      </ion-text>
  </ion-item>

  <ion-item>
    <ion-text>
      <h3>Network Safety and Security</h3>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-text color="dark">
      <p>Any content (e.g., posts, images, messages) that users upload to Find remains their property. However, by posting on the platform, users grant Find a non-exclusive, worldwide license to use, display, or modify this content for the purpose of operating the app:</p>
      <ul>
        <li>Content must adhere to community guidelines and should not infringe on the intellectual property of others.</li>
        <li>Users are solely responsible for the legality of the content they upload and may face consequences if content violates laws or these policies.</li>
      </ul>
      </ion-text>
      </ion-item>

      <ion-item>
        <ion-text>
          <h3>Reporting Violations</h3>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-text color="dark">
          <p>Find encourages users to report any violations of this policy. We take all reports seriously and will investigate any complaints regarding user behavior or content.</p>
          <ul>
            <li>Users found violating this User Policy may face warnings, temporary suspension, or permanent account termination depending on the severity of the violation.</li>
            <li>Repeat offenders or those committing serious violations (e.g., harassment, fraud) may be banned without prior warning.</li>
          </ul>
          </ion-text>
          </ion-item>

          <ion-item>
            <ion-text>
              <h3>Moderation and Content Removal</h3>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text color="dark">
              <p>Find reserves the right to remove any content that violates this policy without prior notice. We may also:</p>
            <ul>
              <li>Suspend or disable accounts that are found violating these rules.</li>
              <li>Modify or restrict access to certain features for users who have been reported or flagged.</li>
            </ul>
            </ion-text>
          </ion-item> 
          
          <ion-item>
            <ion-text>
              <h3>Legal Compliance</h3>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text color="dark">
              <p>Users are required to comply with all applicable laws while using Find. Any illegal activities conducted through the app will be reported to law enforcement authorities.</p>
            <ul>
               <li>Users must not use Find to engage in unlawful behavior, such as fraud, identity theft, or the distribution of illegal substances.</li>
            </ul>
          </ion-text>
          </ion-item>
          <ion-item>
            <ion-text>
              <h3>Dispute Resolution</h3>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-text color="dark">
              <p>Any disputes between users should first attempt to be resolved privately. If necessary, Find may assist in resolving issues but is not responsible for the actions or conduct of individual users.</p>
            </ion-text>
            </ion-item>

            <ion-item>
              <ion-text>
                <h3>Changes to This Policy</h3>
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-text color="dark">
                <p>We may update this User Policy from time to time. Users will be notified of any significant changes via the app or email. Continued use of the app after policy changes means users agree to the updated terms.</p>
              </ion-text>
              </ion-item>

              <ion-item>
                <ion-text>
                  <h3> Account Termination</h3>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-text color="dark">
                  <p>Users may choose to delete their account at any time. Find reserves the right to terminate or suspend accounts at its discretion for violations of this User Policy or any other terms.</p>
                </ion-text>
                </ion-item>

                <ion-item>
                  <ion-text>
                    <h3>  Contact Us</h3>
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-text color="dark">
                    <p>If you have any questions or concerns about this User Policy or need assistance, please contact us at [Your Contact Information].</p>
                  </ion-text>
                  </ion-item>

</ion-content>

