<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="wallet-button"  (click)="goToWallet()">
        <ion-icon name="wallet-outline" class="custom-icon" ></ion-icon>
      </ion-button>

      <ion-button class="coin-button" (click)="goToCoin()">
        <ion-icon name="cash-outline" class="custom-icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
     <ion-button class="add-button" (click)="goToAdd()">
        <ion-icon name="tv-outline" class="custom-icon"></ion-icon>
      </ion-button>
     </ion-buttons>

     <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menu-header-bg"></div>
  <div class="header-content">
    <div class="profile-image-container">
      <ion-avatar class="profile-avatar">
        <ion-img src="{{userData.avatar}}" alt="image" size="large"></ion-img>
      </ion-avatar>
    </div>
  </div>

  <ion-card class="menu-items">
    <!-- <ion-item lines="none"><ion-icon name="person-circle-outline"></ion-icon>User ID*</ion-item>
    <ion-item lines="none"><ion-icon name="heart-outline"></ion-icon>NickName*</ion-item>
    <ion-item lines="none"><ion-icon name="mail-outline"></ion-icon>Email*</ion-item> -->

    <ion-item>
      
      <ion-label>Nickname :{{profile.nickname}}</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>UserId :{{profile.userid}} </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label >Email :{{profile.email}}</ion-label>
    </ion-item>
    
    
    <!-- <ion-item routerLink="/tabs" lines="none"><ion-icon name="home-outline"></ion-icon>Home</ion-item>
    <ion-item lines="none"><ion-icon name="alert-circle-outline"></ion-icon>About Dosthi</ion-item>
    <ion-item lines="none"><ion-icon name="lock-closed-outline"></ion-icon>Privacy Policy</ion-item>
    <ion-item lines="none"><ion-icon name="document-text-outline"></ion-icon>User Agreement</ion-item>
    <ion-item lines="none"><ion-icon name="document-lock-outline"></ion-icon>Acount & Security</ion-item>
    <ion-item lines="none"><ion-icon name="person-remove-outline"></ion-icon>Blocked List</ion-item>
    <ion-item routerLink="/login" lines="none"><ion-icon name="exit-outline"></ion-icon>Log Out</ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            shape="round"
            expand="block"
            fill="outline"
            color="danger"
            (click)="DeleteAccount()"
          >
            Delete Account
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-item (click)="logout()" lines="none"><ion-icon name="exit-outline"></ion-icon>Log Out</ion-item>
  </ion-card>
  <!-- <ion-button class="logout-bt" expand="full" shape="round" (click)="confirmDelete()">Delete Account</ion-button> -->
   


<!-- Side Menu -->
<ion-menu content-id="main-content" side="end" menu-id="main-menu">
 

  <ion-content>
    <ion-list>
      <ion-list-header>Quick Links</ion-list-header>

      <ion-item >
        <ion-icon name="thumbs-down-outline" color="danger" slot="start"></ion-icon>
        <ion-text color="light"> <ion-label>Warnings</ion-label></ion-text>
      </ion-item>

      <ion-item routerLink="/wallet">
        <ion-icon name="wallet-outline" color="warning" slot="start"></ion-icon>
        <ion-text color="light"> <ion-label>Wallet</ion-label> </ion-text>
      </ion-item>

      <ion-item>
        <ion-icon name="swap-horizontal-outline" color="primary" slot="start"></ion-icon>
        <ion-text color="light"> <ion-label>Transactions</ion-label> </ion-text>
      </ion-item>

      <ion-list-header>Profile</ion-list-header>

      <ion-item>
        <ion-icon name="person-outline" color="secondary" slot="start"></ion-icon>
        <ion-text color="light"><ion-label>Edit Profile</ion-label> </ion-text>
      </ion-item>

      <ion-item>
        <ion-icon name="share-outline" color="secondary" slot="start" ></ion-icon>
        <ion-text color="light"> <ion-label>Share and Earn</ion-label></ion-text>
      </ion-item>

      <ion-item>
        <ion-icon name="help-circle-outline" color="tertiary" slot="start"></ion-icon>
        <ion-text color="light"> <ion-label>About Me</ion-label> </ion-text>
      </ion-item>

      <ion-item>
        <ion-icon name="logo-whatsapp" color="success" slot="start"></ion-icon>
        <ion-text color="light">  <ion-label>Share Apk</ion-label> </ion-text>
      </ion-item>

      <ion-list-header>Other</ion-list-header>

      <ion-item>
        <ion-icon name="chatbubbles-outline" color="medium" slot="start"></ion-icon>
        <ion-text color="light"> <ion-label>Blocked Chats</ion-label></ion-text>
      </ion-item>

      <ion-item>
        <ion-icon name="chatbubble-ellipses-outline" color="primary" slot="start"></ion-icon>
        <ion-text color="light"><ion-label>Feedback</ion-label></ion-text>
      </ion-item>

      <ion-item routerLink="/termsandservices">
        <ion-icon name="document-text-outline" color="primary" slot="start"></ion-icon>
       <ion-text color="light"> <ion-label>Terms of Service</ion-label> </ion-text>
      </ion-item>

      <ion-item routerLink="/userpolicy">
        <ion-icon name="file-tray-outline" color="primary" slot="start"></ion-icon>
        <ion-text color="light"> <ion-label>User Policy</ion-label> </ion-text>
      </ion-item>
      <ion-item routerLink="/settings">
        <ion-icon name="settings-outline" color="primary" slot="start"></ion-icon>
        <ion-text color="light"><ion-label>Settings</ion-label></ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main Content -->
<ion-router-outlet id="main-content"></ion-router-outlet>
