
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="{{userData.avatar}}" alt="image" size="large" (click)="profileDetails()"></ion-img>
      </ion-avatar>
      <ion-label slot="end">
        <ion-tab-button routerLink="/notifications">
          <ion-icon name="notifications" size="large"></ion-icon>
          <ion-badge>{{notificationCount}}</ion-badge>
        </ion-tab-button>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Dosthi App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="profileSection" *ngIf="currentUser">
    <h2>Welcome, {{ currentUser.nickname }}</h2>
  </div>
  <ion-col>
    <ion-card class="recommended-card" *ngFor="let user of otherUsers">
      <ion-card-content>
        <img [src]="user.profilePicture" class="profile-img" />
        <span>{{ user.nickname }}</span>
        <ion-button (click)="startChatOrCall(user.nickname)">Connect</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-content>


 











 





 