

h6 {
  color: white;
  font-weight: lighter;
}

ion-icon {
  color: red;
  padding: 5px;
}

.recommended-card {
  background: linear-gradient(rgb(253, 191, 238), rgb(238, 184, 184), white);
  border-radius: 18px;
  text-align: center;
  align-items: center;
  padding: 5px;
}









.img-container {
  height: 60px;
}

.phone-icon {
  color: rgb(15, 245, 61);
  font-size: 20px;
}

.video-icon {
  color: rgb(105, 105, 133);
  font-size: 20px;
}

.chat-icon {
  color: violet;
  font-size: 20px;
}

.arrow-icon {
  font-size: 25px;
  color: black;
}

.rooms-content {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
}

// notifications
ion-badge{
  --color:white;
  font-size:medium;
}