

ion-input{
    width:auto;
    margin-top:20px;
    color:whitesmoke;
    border-color: whitesmoke;
    label{
        color:whitesmoke;
    }
    label-placement{
        color:whitesmoke;
    }
}

#resendBtn{
    margin-top:-10px;
    margin-right:10px;
width:125px;
text-transform: none;
}
