
<ion-content [fullscreen]="true">

<form [formGroup]="userDetails">

  <ion-grid>
    <ion-row>
      <ion-col size-md="2" offset-md="5">
        <ion-img src=".\assets\userdetails\logo.webp" alt="image"></ion-img>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-input 
        label="Nick-Name"
        fill="outline"
        label-placement="floating"
        placeholder="Enter your nick name"
        formControlName="nickname" >
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-input 
        id="open-modal"
        label="Gender"
        fill="outline"
        label-placement="floating" 
        formControlName="gender"
        name="gender"
        [(ngModel)]="gender">
          <ion-modal
          trigger="open-modal"
          [initialBreakpoint]="1"
          [breakpoints]="[0, 1]"
          (ionChange)="showGender($event)" >
        <ng-template>
            <div class="modal">
              
              <ion-radio-group>
                <div>
                  <ion-radio value="male" label-placement="end" >
                    Male
                  </ion-radio>
                </div>
                <div>
                  <ion-radio value="female" label-placement="end" >
                    Female
                  </ion-radio>
                </div>
              </ion-radio-group>
            </div>
          </ng-template>
          </ion-modal>
          <!-- <ion-backdrop part="backdrop" tabindex="-1" inert>
          </ion-backdrop> -->

          <ion-backdrop part="backdrop" tabindex="-1" inert class="md hydrated" style="pointer-events: auto;"></ion-backdrop>



        </ion-input>
      </ion-col>
    </ion-row>
 
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        
        <ion-input 
        id="open-modal1"
        label="Date of Birth"
        fill="outline"
        label-placement="floating"
        name="dateofbirth"
        [(ngModel)]="dateofbirth"
        formControlName="dateofbirth" >
        </ion-input>
      </ion-col>
    </ion-row>
 
    <ion-modal  
    trigger="open-modal1"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]" >
    <ng-template>
      <div class="modal calendar">
      <ion-datetime 
      presentation="date" 
      max="2006-09-01"
      [preferWheel]="true" 
      (ionChange)="showDate($event)">
    </ion-datetime>
  </div>
    </ng-template>
    </ion-modal>
    <!-- <ion-backdrop part="backdrop" tabindex="-1" inert>
    </ion-backdrop> -->

    <ion-backdrop part="backdrop" tabindex="-1" inert class="md hydrated" style="pointer-events: auto;"></ion-backdrop>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-button
          label="Submit"
          label-placement="floating"
          shape="round"
          fill="outline"
          expand="block"
          color="light"
          [disabled]="userDetails.invalid"
          (click)="submit()">
        Submit
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
 

</form>
</ion-content>
