

ion-img{
  width:200px;
}

.modal {
  width:100%;
  height:150px;
  margin:20px;
}
.calendar{
  margin:0px;
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-modal {
  --height: auto;
  --ion-background-color: #ffffff;
}

ion-radio{
  margin:10px;
}