.div-container {
  background-color: rgb(117, 214, 243);
  padding: 10px;
}

h6 {
  color: white;
  font-weight: lighter;
}

ion-icon {
  color: red;
  padding: 5px;
}

.recommended-card {
  background: linear-gradient(rgb(253, 191, 238), rgb(238, 184, 184), white);
  border-radius: 18px;
  text-align: center;
  align-items: center;
  padding: 5px;
}

.room-card-one {
  background-image: url('https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg?t=st=1725439534~exp=1725443134~hmac=45f93b23678bd582ab85f741fcea311a5e4a57743a333a89c855f1fc10808731&w=740');
  border-radius: 18px;
  text-align: center;
  align-items: center;
  padding: 20px;
  background-size: cover;
}

.room-card-two {
  background-image: url('https://img.freepik.com/free-photo/graphic-2d-colorful-wallpaper-with-grainy-gradients_23-2151001489.jpg?t=st=1725439116~exp=1725442716~hmac=7adea1e9650981d506dfb349e4e66da2d764cb59bd548fbf8204feb0194c6326&w=360');
  border-radius: 18px;
  text-align: center;
  align-items: center;
  padding: 25px;
  background-size: cover;
}

.room-card-three {
  background-image: url('https://img.freepik.com/free-photo/2d-graphic-wallpaper-with-colorful-grainy-gradients_23-2151001557.jpg?t=st=1725439671~exp=1725443271~hmac=ef12e9084a125f0ddf5c27256325eef18fdb7a8d1fb5a294c61a9911496f780f&w=360');
  border-radius: 18px;
  text-align: center;
  align-items: center;
  padding: 25px;
  background-size: cover;
}

.room-card-four {
  background-image: url('https://img.freepik.com/free-photo/crumpled-paper-texture_1048-5358.jpg?t=st=1725440307~exp=1725443907~hmac=f5f56260889b4b8c9f77d807752de9df98d30beb1e669cdf0bf1279dd3dd836d&w=360');
  border-radius: 18px;
  text-align: center;
  align-items: center;
  padding: 25px;
  background-size: cover;
}

.img-container {
  height: 60px;
}

.phone-icon {
  color: rgb(15, 245, 61);
  font-size: 20px;
}

.video-icon {
  color: rgb(44, 44, 231);
  font-size: 20px;
}

.chat-icon {
  color: violet;
  font-size: 20px;
}

.arrow-icon {
  font-size: 25px;
  color: black;
}

.rooms-content {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
}
